@model RauCuQuaShop.Models.sanpham
@using System.Globalization;
@{
    ViewBag.Title = "productDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <meta charset="UTF-8">
    <title>Chi tiết</title>


    <link rel="stylesheet" href="~/Assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="~/Assets/website/css/animate.css">
    <link rel="stylesheet" href="~/Assets/website/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/website/css/home.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/website/css/style.css" type="text/css">

    <link rel="stylesheet" href="~/Assets/website/css/product.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/website/css/cart.css">


</head>
<body>
    

    <section>
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-6 mb-5 ftco-animate">
                  @{ 
                      RauCuQuaShop.Models.ANH[] images = new RauCuQuaShop.Models.ANH[Model.ANHs.Count];
                      Model.ANHs.ToList().CopyTo(images);
                  }
                    <div class="image-slider">
                        <ul>
                            @foreach (var ig in Model.ANHs)
                            {
                                <li><img src="/@ig.URL" onclick="changeImage('@ig.MAANH')" id="@ig.MAANH"></li>
                            }
                        </ul>
                        <div id="main-image">
                            <img src="/@images[0].URL" id="img-main">
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                    <h3>@Model.TENSP</h3>
                    <div class="rating d-flex">
                        <p class="text-left mr-4">
                            <a href="#" class="mr-2">5.0</a>
                            <a href="#"><span class="fa-regular fa-star"></span></a>
                            <a href="#"><span class="fa-regular fa-star"></span></a>
                            <a href="#"><span class="fa-regular fa-star"></span></a>
                            <a href="#"><span class="fa-regular fa-star"></span></a>
                            <a href="#"><span class="fa-regular fa-star"></span></a>
                        </p>
                        <p class="text-left mr-4">
                            <a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Đánh giá</span></a>
                        </p>
                        <p class="text-left">
                            <a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Đã bán</span></a>
                        </p>
                    </div>
                    @{
                        RauCuQuaShop.Models.khoiluong[] mass = new RauCuQuaShop.Models.khoiluong[Model.khoiluongs.Count];
                        Model.khoiluongs.ToList().CopyTo(mass);
                        <p class="price"><span>@mass[0].GIA_BAN.Value.ToString("C", CultureInfo.GetCultureInfo("vi-VN"))</span></p>
                    }

                    <p>
                        <strong>Mô tả chung</strong>:
                        @Model.MOTA
                        <br>

                        <strong>Thông tin sản phẩm:</strong>
                        Dâu có vị ngọt nhẹ, thanh.
                        Cung cấp vitamin C, chất xơ, giúp loại bỏ các Cholesterol có hại cho cơ thể.
                        <br>
                        <strong>Thành phần: </strong> 100% dâu tây tươi được trồng ở Đà Lạt
                        <br>
                        <strong>Hướng dẫn sử dụng:</strong> Dùng trực tiếp hoặc chế biến các món tráng miệng
                        <br>
                        <strong> Bảo quản: </strong> trong ngăn mát tủ lạnh
                    </p>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="form-group d-flex">
                                <div class="select-wrap">

                                    <select name="" id="" class="form-control">
                                        <option value="">300g</option>
                                        <option value="">800g</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="minusplus">
                            <div class="buttons_added">
                                <input class="minus is-form" type="button" value="-">
                                <input aria-label="quantity" class="input-qty" max="10"
                                       min="1" name="" type="number" value="1">
                                <input class="plus is-form" type="button" value="+">
                            </div>
                        </div>

                        <div class="w-100"></div>
                        <div class="col-md-12">

                        </div>
                    </div>
                    <p><a href="cart" class="btn btn-black py-3 px-5">Thêm vào giỏ hàng</a></p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title bold"> Sản Phẩm Tương Tự</div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="slide-show" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-lg-3 ftco-animate">
                                        <div class="product">
                                            <a href="productDetail" class="img-prod">
                                                <img class="img-fluid"
                                                     src="/images/qua/cherry.png"
                                                     alt="Colorlib Template">
                                                <div class="overlay"></div>
                                            </a>
                                            <div class="text py-3 pb-4 px-3 text-center">
                                                <h3><a href="productDetail"></a>Cherry</h3>
                                                <div class="d-flex">
                                                    <div class="pricing">
                                                        @{
                                                            <p class="price"><span>@mass[0].GIA_BAN.Value.ToString("C", CultureInfo.GetCultureInfo("vi-VN"))</span></p>
                                                        }

                                                    </div>
                                                </div>
                                                <div class="bottom-area d-flex px-3">
                                                    <div class="m-auto d-flex">
                                                        <a href="#"
                                                           class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                                        </a>
                                                        <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                                        </a>
                                                        <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 ftco-animate">
                                        <div class="product">
                                            <a href="productDetail" class="img-prod">
                                                <img class="img-fluid"
                                                     src="/images/qua/cam.png"
                                                     alt="Colorlib Template">
                                                <div class="overlay"></div>
                                            </a>
                                            <div class="text py-3 pb-4 px-3 text-center">
                                                <h3><a href="productdetail.jsp"></a>Cam</h3>
                                                <div class="d-flex">
                                                    <div class="pricing">
                                                        <p class="price"><span>20.000 VND</span></p>
                                                    </div>
                                                </div>
                                                <div class="bottom-area d-flex px-3">
                                                    <div class="m-auto d-flex">
                                                        <a href="#"
                                                           class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                                        </a>
                                                        <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                                        </a>
                                                        <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 ftco-animate">
                                        <div class="product">
                                            <a href="productDetail" class="img-prod">
                                                <img class="img-fluid"
                                                     src="/images/qua/duahau.jpg"
                                                     alt="Colorlib Template">
                                                <div class="overlay"></div>
                                            </a>
                                            <div class="text py-3 pb-4 px-3 text-center">
                                                <h3><a href="productDetail"></a>Dưa hấu</h3>
                                                <div class="d-flex">
                                                    <div class="pricing">
                                                        <p class="price"><span>28.000 VND</span></p>
                                                    </div>
                                                </div>
                                                <div class="bottom-area d-flex px-3">
                                                    <div class="m-auto d-flex">
                                                        <a href="#"
                                                           class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                                        </a>
                                                        <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                                        </a>
                                                        <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 ftco-animate">
                                        <div class="product">
                                            <a href="productDetail" class="img-prod">
                                                <img class="img-fluid"
                                                     src="/images/qua/chanhday.png"
                                                     alt="Colorlib Template">
                                                <div class="overlay"></div>
                                            </a>
                                            <div class="text py-3 pb-4 px-3 text-center">
                                                <h3><a href="productDetail"></a>Chanh dây</h3>
                                                <div class="d-flex">
                                                    <div class="pricing">
                                                        <p class="price"><span>20.000 VND</span></p>
                                                    </div>
                                                </div>
                                                <div class="bottom-area d-flex px-3">
                                                    <div class="m-auto d-flex">
                                                        <a href="#"
                                                           class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                                        </a>
                                                        <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                                        </a>
                                                        <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-3 ftco-animate">
                                        <div class="product">
                                            <a href="productDetail" class="img-prod">
                                                <img class="img-fluid"
                                                     src="/images/qua/cachua.png"
                                                     alt="Colorlib Template">
                                                <div class="overlay"></div>
                                            </a>
                                            <div class="text py-3 pb-4 px-3 text-center">
                                                <h3><a href="productDetail"></a>Cà chua</h3>
                                                <div class="d-flex">
                                                    <div class="pricing">
                                                        <p class="price"><span>10.000 VND</span></p>
                                                    </div>
                                                </div>
                                                <div class="bottom-area d-flex px-3">
                                                    <div class="m-auto d-flex">
                                                        <a href="#"
                                                           class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                                        </a>
                                                        <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                                        </a>
                                                        <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 ftco-animate">
                                        <div class="product">
                                            <a href="productDetail" class="img-prod">
                                                <img class="img-fluid"
                                                     src="/images/qua/vai.png"
                                                     alt="Colorlib Template">
                                                <div class="overlay"></div>
                                            </a>
                                            <div class="text py-3 pb-4 px-3 text-center">
                                                <h3><a href="productDetail"></a>Vải</h3>
                                                <div class="d-flex">
                                                    <div class="pricing">
                                                        <p class="price"><span>25.000 VND</span></p>
                                                    </div>
                                                </div>
                                                <div class="bottom-area d-flex px-3">
                                                    <div class="m-auto d-flex">
                                                        <a href="#"
                                                           class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                                        </a>
                                                        <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                                        </a>
                                                        <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 ftco-animate">
                                        <div class="product">
                                            <a href="productDetail" class="img-prod">
                                                <img class="img-fluid"
                                                     src="/images/qua/kiwi.png"
                                                     alt="Colorlib Template">
                                                <div class="overlay"></div>
                                            </a>
                                            <div class="text py-3 pb-4 px-3 text-center">
                                                <h3><a href="productDetail"></a>Kiwi</h3>
                                                <div class="d-flex">
                                                    <div class="pricing">
                                                        <p class="price"><span>38.000 VND</span></p>
                                                    </div>
                                                </div>
                                                <div class="bottom-area d-flex px-3">
                                                    <div class="m-auto d-flex">
                                                        <a href="#"
                                                           class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                                        </a>
                                                        <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                                        </a>
                                                        <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 ftco-animate">
                                        <div class="product">
                                            <a href="productDetail" class="img-prod">
                                                <img class="img-fluid"
                                                     src="/images/qua/thom.png"
                                                     alt="Colorlib Template">
                                                <div class="overlay"></div>
                                            </a>
                                            <div class="text py-3 pb-4 px-3 text-center">
                                                <h3><a href="productDetail"></a>Cam</h3>
                                                <div class="d-flex">
                                                    <div class="pricing">
                                                        <p class="price"><span>20.000 VND</span></p>
                                                    </div>
                                                </div>
                                                <div class="bottom-area d-flex px-3">
                                                    <div class="m-auto d-flex">
                                                        <a href="#"
                                                           class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                                        </a>
                                                        <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                                        </a>
                                                        <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-3 ftco-animate">
                                        <div class="product">
                                            <a href="productDetail" class="img-prod">
                                                <img class="img-fluid"
                                                     src="/images/qua/xoai.png"
                                                     alt="Colorlib Template">
                                                <div class="overlay"></div>
                                            </a>
                                            <div class="text py-3 pb-4 px-3 text-center">
                                                <h3><a href="productDetail"></a>Xoài</h3>
                                                <div class="d-flex">
                                                    <div class="pricing">
                                                        <p class="price"><span>15.000 VND</span></p>
                                                    </div>
                                                </div>
                                                <div class="bottom-area d-flex px-3">
                                                    <div class="m-auto d-flex">
                                                        <a href="#"
                                                           class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                                        </a>
                                                        <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                                        </a>
                                                        <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 ftco-animate">
                                        <div class="product">
                                            <a href="productDetail" class="img-prod">
                                                <img class="img-fluid"
                                                     src="/images/qua/thanhlong.png"
                                                     alt="Colorlib Template">
                                                <div class="overlay"></div>
                                            </a>
                                            <div class="text py-3 pb-4 px-3 text-center">
                                                <h3><a href="productDetail"></a>Thanh long</h3>
                                                <div class="d-flex">
                                                    <div class="pricing">
                                                        <p class="price"><span>20.000 VND</span></p>
                                                    </div>
                                                </div>
                                                <div class="bottom-area d-flex px-3">
                                                    <div class="m-auto d-flex">
                                                        <a href="#"
                                                           class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                                        </a>
                                                        <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                                        </a>
                                                        <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 ftco-animate">
                                        <div class="product">
                                            <a href="productDetail" class="img-prod">
                                                <img class="img-fluid"
                                                     src="/images/qua/chuoi.png"
                                                     alt="Colorlib Template">
                                                <div class="overlay"></div>
                                            </a>
                                            <div class="text py-3 pb-4 px-3 text-center">
                                                <h3><a href="productDetail"></a>Chuối</h3>
                                                <div class="d-flex">
                                                    <div class="pricing">
                                                        <p class="price"><span>10.000 VND</span></p>
                                                    </div>
                                                </div>
                                                <div class="bottom-area d-flex px-3">
                                                    <div class="m-auto d-flex">
                                                        <a href="#"
                                                           class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                                        </a>
                                                        <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                                        </a>
                                                        <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 ftco-animate">
                                        <div class="product">
                                            <a href="productDetail" class="img-prod">
                                                <img class="img-fluid"
                                                     src="/images/qua/khe.png"
                                                     alt="Colorlib Template">
                                                <div class="overlay"></div>
                                            </a>
                                            <div class="text py-3 pb-4 px-3 text-center">
                                                <h3><a href="productDetail"></a>Khế</h3>
                                                <div class="d-flex">
                                                    <div class="pricing">
                                                        <p class="price"><span>20.000 VND</span></p>
                                                    </div>
                                                </div>
                                                <div class="bottom-area d-flex px-3">
                                                    <div class="m-auto d-flex">
                                                        <a href="#"
                                                           class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center">

                                                        </a>
                                                        <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                                        </a>
                                                        <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#slide-show" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true">
                                <i class="fa-solid fa-angle-left"></i>
                            </span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#slide-show" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true">
                                <i class="fa-solid fa-angle-right"></i>
                            </span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


 
    <div class="comment">
        <div class="comment-form-wrap pt-5">
            <h3 class="mb-5">Để lại đánh giá của bạn</h3>

            <form action="#" class="p-5 bg-light boxcomment">
                <div class="vcard bio">
                    <img src="/images/avt/avt3.png" alt="Image placeholder">
                </div>
                <div class="comment-body">
                    <h4>Thiên Phúc</h4>
                    <p class="text-left mr-4">
                        <a href="#" class="mr-2"></a>
                        <a href="#"><span class="fa-regular fa-star"></span></a>
                        <a href="#"><span class="fa-regular fa-star"></span></a>
                        <a href="#"><span class="fa-regular fa-star"></span></a>
                        <a href="#"><span class="fa-regular fa-star"></span></a>
                        <a href="#"><span class="fa-regular fa-star"></span></a>
                    </p>
                   
                </div>


              
                
               
                   
               

                <div class="form-group">
                   
                    <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Đăng" class="btn py-3 px-4 btn-black ">
                </div>
            </form>
        </div>
        <h3 class="mb-5">3 đánh giá</h3>
        <ul class="comment-list">
            <li class="comment">
                <div class="vcard bio">
                    <img src="/images/avt/avt3.png" alt="Image placeholder">
                </div>
                <div class="comment-body">
                    <h3>Thiên Phúc</h3>
                    <p class="text-left mr-4">
                        <a href="#" class="mr-2"></a>
                        <a href="#"><span class="fa-regular fa-star"></span></a>
                        <a href="#"><span class="fa-regular fa-star"></span></a>
                        <a href="#"><span class="fa-regular fa-star"></span></a>
                        <a href="#"><span class="fa-regular fa-star"></span></a>
                        <a href="#"><span class="fa-regular fa-star"></span></a>
                    </p>
                    <div class="meta"><i>9/11/2022,2:21pm</i></div>
                    <p>Dâu ngon và rẻ</p>
                    <p><a href="#" class="reply">Trả lời</a></p>
                </div>
            </li>

            <li class="comment">
                <div class="vcard bio">
                    <img src="/images/avt/avt1.png" alt="Image placeholder">
                </div>
                <div class="comment-body">
                    <h3>Nhật Thanh</h3>
                    <p class="text-left mr-4">
                        <a href="#" class="mr-2"></a>
                        <a href="#"><span class="fa-regular fa-star"></span></a>
                        <a href="#"><span class="fa-regular fa-star"></span></a>
                        <a href="#"><span class="fa-regular fa-star"></span></a>
                        <a href="#"><span class="fa-regular fa-star"></span></a>
                        <a href="#"><span class="fa-regular fa-star"></span></a>
                    </p>
                    <div class="meta"><i>9/11/2022,2:21pm</i></div>
                    <p>Đáng để thử</p>
                    <p><a href="#" class="reply">Trả lời</a></p>
                </div>


            </li>

            <li class="comment">
                <div class="vcard bio">
                    <img src="/images/avt/avt2.png" alt="Image placeholder">
                </div>
                <div class="comment-body">
                    <h3>Hoài An</h3>
                    <p class="text-left mr-4">
                        <a href="#" class="mr-2"></a>
                        <a href="#"><span class="fa-regular fa-star"></span></a>
                        <a href="#"><span class="fa-regular fa-star"></span></a>
                        <a href="#"><span class="fa-regular fa-star"></span></a>
                        <a href="#"><span class="fa-regular fa-star"></span></a>
                        <a href="#"><span class="fa-regular fa-star"></span></a>
                    </p>
                    <div class="meta"><i>9/11/2022,2:21pm</i></div>
                    <p>Ủng hộ shop ngày càng phát triển đi mọi người</p>
                    <p><a href="#" class="reply">Trả lời</a></p>
                </div>
            </li>
        </ul>
   

        <div class="comment-form-wrap pt-5">
         


        </div>
    </div>
   


    <script src="~/Assets/bootstrap/js/jquery.min.js"></script>
    <script src="~/Assets/bootstrap/js/bootstrap.js"></script>
    <script src="~/Assets/website/js/product.js"></script>
    <script src="~/Assets/website/js/main.js"></script>

</body>
</html>


