@using System.Globalization;
@using RauCuQuaShop.Models;
@model dynamic
@{
    ViewBag.Title = "product1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta charset="UTF-8">
    <title>Cửa hàng</title>


    <link rel="stylesheet" href="~/Assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="~/Assets/website/css/animate.css">
    <link rel="stylesheet" href="~/Assets/website/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/website/css/home.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/website/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/website/css/product.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/website/css/news.css" type="text/css">


</head>
<body>

    <section class="breadcrumb-section set-bg" style="background-image: url('/images/bg.png');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb_text">
                        <h2>Cửa hàng</h2>
                        <div class="breadcrumb_option">
                            <a href="Index">Trang chủ</a>
                            <span>Cửa hàng</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container" style="padding-top: 15px">
        <div class="row">
            <div class="col-3">
                <div id="menu">
                    <div class="menu-title">
                        <i class="fa fa-bars"></i>
                        <span>Danh mục sản phẩm</span>
                    </div>
                    <ul class="menu-drop">
                        <li class="menu-item">
                            <a href="product1">Tất cả</a>
                        </li>
                        @{
                            foreach (var typeP in Model.TypeProducts)
                            {
                                if (typeP.PHANLOAICHA == null)
                                {
                                    <li class="menu-item">
                                        <a class="menu-arrow" href="product1?typeproduct=@typeP.MALSP.Trim()">@typeP.TENLSP.Trim()</a>
                                        <ul class="sub-menu">
                                            @foreach (var typeP2 in Model.TypeProducts)
                                            {
                                            if (typeP2.PHANLOAICHA != null && typeP2.PHANLOAICHA.Trim() == typeP.MALSP.Trim())
                                            {
                                                <li class="menu-item"><a href="product1?typeproduct=@typeP2.MALSP.Trim()"></a>@typeP2.TENLSP.Trim()</li>
                                            }

                                            }
                                        </ul>
                                    </li>

                                }
                            }
                        }

                    </ul>
                </div>

                <h3>Ưu đãi trong ngày</h3>
                <div class="row">
                    <div class="col-6">
                        <div class="product">
                            <a href="productdetail" class="img-prod">
                                <img class="img-fluid"
                                     src="~/images/rau/caiboxoi.png"
                                     alt="Colorlib Template">
                                <span class="status">30%</span>
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="productdetail">Cải bó xôi</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span class="price-sale">18.000 VND</span></p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3">

                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <a href="productdetail" class="img-prod">
                                <img class="img-fluid"
                                     src="~/images/rau/rauque.png"
                                     alt="Colorlib Template">
                                <span class="status">50%</span>
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="productdetail">Rau quế</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span class="price-sale">18.000 VND</span></p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3">

                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <a href="productdetail" class="img-prod">
                                <img class="img-fluid"
                                     src="~/images/qua/khe.png"
                                     alt="Colorlib Template">
                                <span class="status">50%</span>
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="productdetail">Khế</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span class="price-sale">18.000 VND</span></p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3">

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-6">

                        <div class="product">
                            <a href="productdetail" class="img-prod">
                                <img class="img-fluid"
                                     src="~/images/qua/cherry.png"
                                     alt="Colorlib Template">
                                <span class="status">10%</span>
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="productdetail">Cherry</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span class="price-sale">18.000 VND</span></p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3">

                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <a href="productdetail.jsp" class="img-prod">
                                <img class="img-fluid"
                                     src="~/images/rau/xalach.png"
                                     alt="Colorlib Template">
                                <span class="status">50%</span>
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="productdetail">Xà lách</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span class="price-sale">18.000 VND</span></p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3">

                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <a href="productdetail" class="img-prod">
                                <img class="img-fluid"
                                     src="~/images/qua/thanhlong.png"
                                     alt="Colorlib Template">
                                <span class="status">50%</span>
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="productdetail">Thanh long</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span class="price-sale">18.000 VND</span></p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="row justify-content-center mb-3 pb-3">
                    <div class="col-md-12 heading-section text-center ftco-animate">

                        <h2 class="title">Cửa hàng</h2>

                    </div>
                </div>
                <div class="selectboot">
                    <select class="browser-default custom-select">
                        <option selected>Bộ lọc sản phẩm</option>
                        <option value="1">Theo giá</option>
                        <option value="2">Theo bảng chữ cái</option>

                    </select>
                </div>
                <section>
                    <div class="row justify-content-center mb-3 pb-3">
                        <div class="col-md-12 heading-section text-center ftco-animate">

                        </div>
                    </div>

                    <div>
                        <div class="row">
                            @foreach (var product in Model.SanPham)
                            {
                                RauCuQuaShop.Models.ANH[] images = new RauCuQuaShop.Models.ANH[product.ANHs.Count];
                                product.ANHs.CopyTo(images);
                                RauCuQuaShop.Models.khoiluong[] mass = new RauCuQuaShop.Models.khoiluong[product.khoiluongs.Count];
                                product.khoiluongs.CopyTo(mass);

                                <div class="col-md-6 col-lg-3 ftco-animate">
                                    <div class="product">
                                        <a href="productdetail?productId=@product.MASP" class="img-prod">
                                            <img class="img-fluid"
                                                 src="~/@images[0].URL"
                                                 alt="Colorlib Template">

                                            <div class="overlay"></div>
                                        </a>
                                        <div class="text py-3 pb-4 px-3 text-center">
                                            <h3><a href="productdetail?productId=@product.MASP">@product.TENSP</a></h3>
                                            <div class="d-flex">
                                                <div class="pricing">
                                                    <p class="price"><span class="price-sale">@mass[0].GIA_BAN.Value.ToString("C", CultureInfo.GetCultureInfo("vi-VN"))</span></p>
                                                </div>
                                            </div>
                                            <div class="bottom-area d-flex px-3">
                                                <div class="m-auto d-flex">
                                                    <a  href="#"
                                                       class="fa-solid fa-cart-shopping d-flex justify-content-center align-items-center text-center"  onclick="addProduct('@product.MASP', @product)">
                                                       
                                                    </a>
                                                    <a href="#" class="fa-solid fa-money-bill-1-wave d-flex justify-content-center align-items-center mx-1">

                                                    </a>
                                                    <a href="#" class="fa-solid fa-heart d-flex justify-content-center align-items-center">

                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </section>


                <div class="product__pagination container">
                    @{
                        var pageTotal = Model.PageNumber;
                        var currentPage = Model.CurrentPage;
                        var typeProduct = Model.TypeProduct;
                        for (var i = 1; i <= pageTotal; i++)
                        {
                            if (currentPage != i)
                            {
                                <a href="product1?page=@i&typeProduct=@typeProduct">@i</a>
                            }
                            else
                            {
                                <a href="product1?page=@i&typeProduct=@typeProduct" style="background-color: #82CD47 ">@i</a>
                            }

                        }
                    }
                </div>
            </div>
        </div>
    </div>



    <script src="~/Assets/bootstrap/js/jquery.min.js"></script>
    <script src="~/Assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/website/js/main.js"></script>

</body>
</html>

