@model MvcBookStore.Models.SACH

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>THÔNG TIN CHI TIẾT</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tensach)
        </dd>

        <dt>
            Giá bán:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giaban) VNĐ
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd style="width:600px; text-align:justify">
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            Ảnh bìa:
        </dt>

        <dd>
            <img src="@Url.Content("~/Hinhsanpham/"+Model.Anhbia)" width="120px" />
        </dd>

        <dt>
            Ngày cập nhật:
        </dt>

        <dd>
            @string.Format("{0:dd/MM/yyyy}",Model.Ngaycapnhat)
        </dd>

        <dt>
            Số lượng tồn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongton)
        </dd>

        <dt>
            Loại sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaCD)
        </dd>

     

    </dl>
</div>
<p>
    @Html.ActionLink("Điều chỉnh", "Sua", new { id = Model.Masach }) |
    @Html.ActionLink("TRỞ VỀ", "Sanpham")
</p>
